<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>

   

</div>

<table id="tbl_Registry" width="400px">
    <caption>Person Registry Table</caption>
    <thead>
        <tr>
            <th> Id </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Occupation </th>
            <th> Gender </th>
            <th> Street Address</th>
            <th> City Address</th>
            <th> State </th>
            <th> Zip Code </th>
            <th> Recorded Time </th>
        </tr>
    </thead>
    
</table>
<hr />

<form action="http://localhost:54770/api/PersonRegistry" method="post">
    <fieldset>
        <legend> Person Registry Form </legend>
        <input id="fName" type="text" placeholder="First Name" required />
        <input id="lName" type="text" placeholder="Last Name" required />
        <input id="occptn" type="text" placeholder="Occupation" required />
        <select>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select> <br />
        <input id="sAddress" type="text" placeholder="Street Address" required />
        <input id="cAddress" type="text" placeholder="City" required />
        <input id="state" type="text" placeholder="State" required />
        <input id="zCode" type="text" placeholder="Zip Code" required />

        <input id="btnSave" type="submit" value="Submit" />
    </fieldset>
</form>

<script>
    $(document).ready(function () {
        //alert("test alert");
        //myOtherWay();
        
        //$('form').hide();
        
        $("#tbl_Registry").dataTable({
            "bInfo": false,
            'bFilter': false,
            "bPaginate": false,
            "bSort": false,
            "aaData": [],
        });
        getPersonRegistry();
        $('#btnSave').click(function () {
            newPersonRegistry();
        });
        //getIds();
    });

    function myOtherWay() {
        var url = 'https://localhost:44344/api/PersonRegistry';

        $.ajax({
            url: url,
            dataType: 'JSON',
            type: 'GET',
        }).done(function (data) {
            $.each(data, function () {
                $('#tbl_Registry').append("<tr><td>" + this.Id + "</td>"
                    + "<td>" + this.FirstName + "</td>"
                    + "<td>" + this.LastName + "</td>"
                    + "<td>" + this.Occupation + "</td>"
                    + "<td>" + this.Gender + "</td>"
                    + "<td>" + this.StreetAddress + "</td>"
                    + "<td>" + this.CityAddress + "</td>"
                    + "<td>" + this.State + "</td>"
                    + "<td>" + this.ZipCode + "</td>"
                    + "<td>" + this.RecordedTime + "</tr></td>")
            });
        })
    }

    function renderPersonRegistry(data) {
        var url = 'https://localhost:44344/api/PersonRegistry';
        var DataArray = [];
        
        $.each(data, function () {
            DataArray.push([this.Id,
                this.FirstName,
                this.LastName,
                this.Occupation,
                this.Gender,
                this.StreetAddress,
                this.CityAddress,
                this.State,
                this.ZipCode,
                this.RecordedTime]);
        });

        $('#tbl_Registry').dataTable().fnAddData(DataArray);
        $('#tbl_Registry').dataTable().fnAdjustColumnSizing();

        var lastItem = DataArray[DataArray.length - 1];
        console.log(lastItem)
    }

    function getIds() {
        var DataArray = [];
        var url = 'https://localhost:44344/api/PersonRegistry';
        $.ajax({
            url: url,
            dataType: 'json',
            type: 'GET',
        }).done(function (data) {
            $.each(data, function () {
                DataArray.push(this.Id);
            });
        });
        var lastId = DataArray[DataArray.length - 1] + 1;
        console.log(lastId);
        return lastId;
    }

    function renderIds(data) {
        var DataArray = [];
        $.each(data, function () {
            DataArray.push(this.Id);
        })
        var lastId = DataArray[DataArray.length - 1] + 1;
        return lastId;
    }

    function getPersonRegistry() {
        var url = 'https://localhost:44344/api/PersonRegistry';
        $.ajax({
            url: url,
            dataType: 'json',
            type: 'GET',
        }).done(function (response) {
            renderPersonRegistry(response);
        });
    }

    function newPersonRegistry() {
        getIds();
        var id, firstName, lastName, occupation, gender, stAddress, city, state, zCode;
        id = getIds();
        firstName = $('#fName').val();
        lastName = $('#lName').val();
        occupation = $('#occptn').val();
        gender = $('select').val();
        stAddress = $('#sAddress').val();
        city = $('#cAddress').val();
        state = $('#state').val();
        zCode = $('#zCode').val();
        var recordTime = '10:20AM';
        $.ajax({
            url: 'https://localhost:44344/api/PersonRegistry',
            type: 'POST',
            cache: false,
            data: {
                Id: 106,
                FirstName: firstName,
                LastName: lastName,
                Occupation: occupation,
                Gender: gender,
                StreetAddress: stAddress,
                CityAddress: city,
                State: state,
                ZipCode: zCode,
                RecordedTime: recordTime
            },
            success: function (data) {
                $('#statusUpdate').html(firstName + " " + lastName + "'s record has been created successfully. Unselect and refresh browser to update the page.").fadeOut(7500);
            },
        })

    }
</script>
